.header{
    background: rgba(46, 51, 90, 1);
    position: absolute;
    width: 100%;
    height: 40px;
    text-align: center;
    top: 60px;
    box-shadow: rgba(90, 36, 129, 1) 0px -20px 30px -28px inset;
}
.header ul{
    overflow-x: hidden;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    left: 15%;
}
.header ul li a {
    color:rgba(156, 157, 176, 1);
}
.header ul .active a{
    color: white;
}
@media screen and (max-width: 900px){
    .header{
       scroll-behavior: smooth;
       overflow: hidden;
     }
}